VITE_SUPABASE_URL=https://hrwkrytcmehswbhwvdpi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imhyd2tyeXRjbWVoc3diaHd2ZHBpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzUzMDY2OTgsImV4cCI6MjA5MDg4MjY5OH0.a0e0NggibXfcNG0Mve4kbAjGaWbtvDSWLx8JhawAMiI
