VITE_SUPABASE_URL=https://hbmccalscnescpvomrjo.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImhibWNjYWxzY25lc2Nwdm9tcmpvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1OTQ1OTAsImV4cCI6MjA5MTE3MDU5MH0.fVPlYfKdozUYdmG4_UX-jSJdPlbvOpRBAXqnLDPbrTI
VITE_GOOGLE_SHEET_RSVP_BACKUP_URL=https://docs.google.com/spreadsheets/d/REPLACE_WITH_SHEET_ID/edit
VITE_ADMIN_PIN=REPLACE_WITH_ADMIN_PIN
